header {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0 5dvh 0;
}

.content {
    display: flex;
    flex-direction: column;
}

.content > div {
    position: relative;
    border: 2px solid black; 
    width: 500px;
    border-radius: 9px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.employee-title { 
    padding-bottom: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-bottom: 1px solid black;
} 

.employee-info { 
    display: flex; 
    padding: 10px;
    /*flex-direction: column; */
    align-items: center; 
}

.employee-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.employee-picture {
    margin-right: 20px;
    border-right: 1px solid black;
    padding: 10px;
}

.employee-picture > img { 
    width: 250px; 
    height: 250px; 
    object-fit: contain;
}